#container{
    display:grid;
    border-style: solid;
    padding: 10px;
    position:relative;
    padding: 16px 16px 16px 16px;
    box-shadow: 0 8px 16px 0 rgb(255, 252, 252);
    transition: 0.3s;
    background-color: whitesmoke;
    border-radius: 8px;
    transition: transform 0.3s ease;
   
}


#container:hover{
    box-shadow: 0 8px 16px 0 rgb(255, 252, 252);
    background-color: gray;
    transform: scale(1.1);
}

